.jumbotron
  %h1 Smart Pokédex
  %h2 Features
  .row.marketing
    .col-lg-6
      %h4 Massive Dataset
      %p All attributes and Bulbapedia entries indexed for each of the 778 Pokémon ever created.
    .col-lg-6
      %h4 Keyword Searching
      %p Find the Pokémon you're thinking of by simply telling the Pokédex as much as you can remember.
    .col-lg-6
      %h4 Voice Recognition
      %p Search the Pokédex with simple voice commands using annyang.js.
    .col-lg-6
      %h4 Mobile-ready webapp
      %p Use Smart Pokédex on-the-go!
= haml :footer