.jumbotron
  %h1 Contact
  .row.marketing
    .col-lg-6
      %h4 Bryce Dorn
      %p
        %a{href: "mailto:bsdorn2@illinois.edu" } bsdorn2@illinois.edu
    .col-lg-6
      %h4 Tedman Marszalek
      %p
        %a{href: "mailto:tmarsza2@illinois.edu" } tmarsza2@illinois.edu
= haml :footer