.jumbotron
  / #loading
  /   %img{src: "images/ajax-loader.gif" }
  #landing
    %h1 Smart Pokédex
    %p.lead
      %input.form-control#search{type: "search", placeholder: ""}
    %p
      %a.btn.btn-lg.btn-danger#enter Search!
  #noresult
    %h3#caption No results, try again!
  #result
    %h3#caption Sounds like you meant...
    .row.clean
      .col-lg-6.col-md-6.col-sm-6
        .pokeimg
          %img#ret_img
      .col-lg-6.col-md-6.col-sm-6
        %h2#ret_name
        %p#ret_acc.accuracy
        %table.table.table-bordered#ret_stats
          %tr
            %td National №
            %td
          %tr
            %td Type
            %td.types
          %tr
            %td HP
            %td
          %tr
            %td Height
            %td
          %tr
            %td Weight
            %td
    .row.clean#runnersup
      %h3 Runners up
      .col-lg-4.col-md-4.col-sm-4.col-xs-4#run_1
        .pokeimg
          %img
        %p.name
        %p.accuracy
      .col-lg-4.col-md-4.col-sm-4.col-xs-4#run_2
        .pokeimg
          %img
        %p.name
        %p.accuracy
      .col-lg-4.col-md-4.col-sm-4.col-xs-4#run_3
        .pokeimg
          %img
        %p.name
        %p.accuracy
    #feedback
      %p 
        Was this horribly wrong? 
        %a{href: "/contact" } Please let us know!
= haml :footer