.jumbotron
  %h1 Smart Pokédex
  %p.lead
    %input.form-control.search{type: "email"}
  %p
    %a.btn.btn-lg.btn-danger{href: "#"} Let's go!
  .row.marketing
    .col-lg-6
      %h4 HTML5 Boilerplate
      %p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    .col-lg-6
      %h4 Bootstrap
      %p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
.footer
  %p Copyright © 2014 Bryce Dorn, Tedman Marszalek, The MIT License (MIT)