@import "compass/reset";
// @import "bootstrap";
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "bootstrap/breadcrumbs";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/navs";
@import "bootstrap/tables";
@import "bootstrap/jumbotron";
@import "bootstrap/buttons";
@import "bootstrap/scaffolding";
@import "bootstrap/utilities";
@import "bootstrap/type";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Nav pills */
.nav-pills > li.active > a {
  background-color: #d9534f;
  &:hover, &:focus {
    background-color: #d9534f;
  }
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Make the masthead heading the same height as the navigation */
#search {
  margin: 20px 0;
  padding: 30px 8px;
}
input[type="search"]:focus {   
border-color: rgba(255, 0, 0, 0.6);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.4);
outline: 0 none;
}
.form-control {
  border-radius: 10px;
  font-size: 1.4em;
}

/* Hide result before we have it */
#result {
  border-top: rgba(0,0,0,0.1) solid 1px;
  margin-top: 20px;
  display: none;
  text-align: left;

  h1, h3, img {
    text-align: center;

    &#caption {
      opacity: 0.4;
    }
  }
  h2 {
    margin: 10px 0 0 0;
  }
  .pokeimg {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
  }
  img {
    width: 100%;
  }
  .accuracy {
    opacity: 0.5;
    display: inline-block;
    margin: 4px;
  }
  .table {
    .types {
      text-transform: capitalize;
    }
  }
  #runnersup {
    border-top: rgba(0,0,0,0.1) solid 1px;
    border-bottom: rgba(0,0,0,0.1) solid 1px;
    padding-bottom: 20px;
    p {
      margin: 0;
      &.accuracy {
        font-size: 1.2em;
      }
    }
  }
  #feedback {
    text-align: center;
    margin-top: 40px;
    p,h4 {
      font-size: 1.2em;
      display: inline-block;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  .btn {
    font-size: 21px;
    padding-top: 56px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: inline-block;

    &#enter {
      margin-top: 12px;
    }
  }
  #timer {
    padding: 10px;
  }
}

/* Fade effect */
.invisible {
  display: none;
}

/* Clean up row content */
.clean {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* General */
a {
  color: #d9534f;
  &:hover {
    color: #d43f3a;
  }
}

/* Data */
#local {
  .btn {
    width: 100px;
    height: 100px;
    padding-top: 34px;
    &#download {
      margin-top: 20px;
    }
  }
  textarea {
    width: 100%;
    height: 400px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */  
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */  
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */  
  .jumbotron {
    border-bottom: 0;
  }
  #result h2 {
    margin-top: 0;
  }
}